<h2 style="text-align: center; margin-bottom: 0;"><strong>Hello Guys!
  <br>
  This is About Page!
</strong></h2>
<br>
<h5 style="text-align: center;"><strong>You can click button!</strong></h5>
<button
type="submit"
style="align-items: center; margin: 10px auto; display: block; "
class="inline-block rounded border border-current px-4 py-1 text-sm font-medium text-indigo-600 transition hover:rotate-2 hover:scale-110 focus:outline-none focus:ring active:text-indigo-500"
(click)="onHome()"
>
Click Me!
</button>
